@import './reset';
@import './fonts';
@import './transitions';

h1 {
  text-transform: uppercase;
}

strong {
  text-transform: uppercase;
}

p {
  text-align: justify;
}

p:not(:first-child),
ul:not(:first-child){
  margin-top: 1em;
}

a,
a:link,
a:visited {
  color: white;
}
