.fade-in-enter-active,
.fade-in-leave-active {
  transition-property: opacity;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.fade-in-enter,
.fade-in-leave-to {
  opacity: 0;
}

.fade-in-enter-to,
.fade-in-leave {
  opacity: 1;
}

.quick-fade-enter-active,
.quick-fade-leave-active {
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.quick-fade-enter,
.quick-fade-leave-to {
  opacity: 0;
}

.quick-fade-enter-to,
.quick-fade-leave {
  opacity: 1;
}


